[submodule "lib/stats.js"]
	path = lib/stats.js
	url = https://github.com/mrdoob/stats.js
[submodule "lib/Gizmo"]
	path = lib/Gizmo
	url = https://github.com/sogimu/Gizmo
[submodule "ArmContext"]
	path = ArmContext
	url = https://github.com/sogimu/ArmContext
[submodule "ArmGraph"]
	path = ArmGraph
	url = https://github.com/sogimu/ArmGraph
